/*Parker Timmons 4/6/2022*/

body {font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
color: black;
}
.indent {text-indent: 60px;}
.margin {
margin-left: 50px;
font-size: larger;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.center {text-align: center;}
.about {text-indent: 100px;color: aqua;}
.center-graphic {margin: auto;max-width: 1000px;}
body {background-color: mediumturquoise;}
.image{ height: fit-content;}
.img {
    margin-left: 150px;
    margin-right: 100px;
    margin-top: 0px;
    margin-bottom: 10px;
    float: right;
    display: inline-block;
    vertical-align: text-top;
}
.img2 {
height: 150px;
width: 200px;
float: right;
display: inline-block;
vertical-align: top;
}
.foot {
text-align: center;
margin-left: 150px;
}

iframe {
display: block;
margin:0 auto;

}

.link {
font-size: medium;
font-weight: 200;
font-style: italic;
text-align: left;
margin-left: 0;
}

li {font-family: 'Times New Roman', Times, serif;
font-style: normal;

}

.fav {
font-size: larger;
font-weight: bolder;
color: darkblue;
}

.top{
font-size: smaller;
font-weight: lighter;
margin-left: 150px;

}



